{% extends 'base.html' %}

{% block title %}Order List - Your Website{% endblock %}

{% block content %}
    <h1>Orders</h1>
    <table border="1">
        <!-- Your order list table content here -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td><a href="{% url 'order-detail' order.pk %}">{{ order.customer.get_full_name }}</a></td>
                    <td>{{ order.order_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
