{% extends 'base.html' %}
{% load static %}

{% block title %}Order List - Your Website{% endblock %}

{% block content %}
    <h1>Orders</h1>
    <table class="table table-bordered table-striped">
        <!-- Your order list table content here -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer Last Name</th>
                <th>Customer First Name</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.customer.last_name}}</a></td>
                    <td>{{ order.customer.first_name}}</a></td>
                    <td>{{ order.order_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}
{% endblock %}
