{% extends 'base.html' %}
{% load static %}

{% block title %}Product List - Borgy's Store{% endblock %}

{% block content %}
    <h1>Products</h1>
    <table class="table table-bordered table-striped">
        <!-- Your product list table content here -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</a></td>
                    <td>{{ product.price }}</td>
                    <td><img src="{{ product.image.url }}" alt="{{ product.name }} Image"></td>
                    <!-- <p>Debug URL: {{ product.image.url }}</p> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}
{% endblock %}
